* {
  box-sizing: border-box;
  font-size: 16px;
}

ul {
  font-size: 0;
}

li {
  display: inline-block;
  background-color: red;
  padding: 10px;
  font-size: 1.5rem;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  li {
    display: block;
    background-color: rgb(8, 122, 19);
    padding: 10px;
    font-size: 1.5rem;
  }
}