.navigation {

}

.link-list {

}

a {
  text-decoration: none;
}

.page-link {
  background-color: lightblue;
  padding: 10px;
  color: blueviolet;
}

/* .page-link:hover {
  background-color: dodgerblue;
  color: bisque;
} */

.page-link:not(a) {
  border: 2px double red;
}

.page-link:hover:not(button) {
  background-color: dodgerblue;
  color: bisque;
}

.page-link:focus {
  border: 10px solid green;
}

input:focus {
  background-color: aquamarine;
}

.link-list li {
  display: inline-block;
  margin-top: 30px;
}